/*******************************************************************
* style.css
*
* Styles some of the components in the application
********************************************************************/

/* Navigation Controls */
#navigation-menu {
    -fx-background-color: cornflowerblue;
    -fx-padding: 0px 30px;
}
.navigation-item {
    -fx-background-color: none;
    -fx-padding: 30px 0px 5px 0px;
    -fx-font-size: 18px;
    -fx-text-fill: white;
}
.navigation-item-selected {
    -fx-underline: true;
}
.clickable:hover {
    -fx-cursor: hand;
}

/* Content Containers */
#small-content-container {
    -fx-padding: 0px 150px;
}
#medium-content-container {
    -fx-padding: 0px 100px;
}
#large-content-container {
    -fx-padding: 0px 50px;
}

/* Toggle Buttons */
.toggle-button-left {
    -fx-border-radius: 5 0 0 5;
    -fx-background-radius: 5 0 0 5;
    -fx-border-color: #ccc;
}
.toggle-button-right {
    -fx-border-radius: 0 5 5 0;
    -fx-background-radius: 0 5 5 0;
    -fx-border-color: #ccc;
}
.toggle-button-active {
    -fx-background-color: cornflowerblue;
    -fx-text-fill: white;
}

/* LogIn Styles */
#login-form {
    -fx-end-margin: 50px;
}

/* Calendar Cell Styles */
.cal-header-cell {
    -fx-background-color: #ddd;
}
.cal-selected-cell {
    -fx-border-color: cornflowerblue;
    -fx-border-width: 3;
}
.cal-empty-cell {
    -fx-background-color: #ddd;
}
.cal-bold-text {
    -fx-font-weight: bold;
}
.cal-blue-text {
    -fx-fill: cornflowerblue;
}